* {
  box-sizing: border-box;
}
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: #f6d990;
  overflow-x: hidden;
  margin-top: 120px;
}

@media screen and (max-width: 500px) {
  body {
    margin-top: 0;
  }
  #mobile-navbar {
    position: fixed;
    overflow: hidden;
    bottom: 0;
    width: 100vw;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: #faf2e5;
    box-shadow: 0 -3px 8px #88888880;
  }
  #navbar {
    display: none;
  }
}

@media screen and (min-width: 501px) {
  #mobile-navbar {
    display: none;
  }
  #navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100vw;
    height: 100px;
    background-color: #faf2e5;
    box-shadow: 0 3px 8px #88888880;
  }
}
