---
import CustomScrollbar from "../components/CustomScrollbar.astro";
import Footer from "../components/Footer.astro";
import MobileNavbar from "../components/MobileNavbar.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="" type="" href="" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>À boire</title>
    <script defer src="/_vercel/insights/script.js"></script>
  </head>
  <body>
    <Navbar />
    <MobileNavbar />

    <div id="drinks-menu">
      <img src="/Menu_drinks_complet.jpg" alt="Drinks menu" />
      <!-- <img src="/wine1.jpg" alt="Wine menu mobile 1" />
      <img src="/wine2.jpg" alt="Wine menu mobile 2" />
      <img src="/wine3.jpg" alt="Wine menu mobile 3" />
      <img src="/wine4.jpg" alt="Wine menu mobile 4" /> -->
    </div>
    <div id="drinks-menu-mobile">
      <img src="/Menu_cocktails_mobile.jpg" alt="Cocktails menu mobile" />
      <img
        src="/Menu_bieres_cafes_mobile.jpg"
        alt="Beers and coffee menu mobile"
      />
    </div>
    <div id="wine-menu">
      <img src="/wine1.jpg" alt="Wine menu mobile 1" />
      <img src="/wine2.jpg" alt="Wine menu mobile 2" />
      <img src="/wine3.jpg" alt="Wine menu mobile 3" />
      <img src="/wine4.jpg" alt="Wine menu mobile 4" />
    </div>
    <Footer />
    <CustomScrollbar />
  </body>
</html>

<style>
  * {
    font-family: "Alatsi", sans-serif;
  }
  div {
    margin: auto;
  }
  #drinks-menu {
    max-width: 90%;
  }
  #drinks-menu img {
    width: 100%;
  }
  #drinks-menu-mobile {
    max-width: 90%;
  }
  #drinks-menu-mobile img {
    width: 100%;
  }
  #wine-menu {
    max-width: 90%;
  }
  #wine-menu img {
    width: 100%;
  }

  @media screen and (min-width: 651px) {
    #drinks-menu-mobile {
      display: none;
    }
  }
  @media screen and (max-width: 500px) {
    body {
      margin-top: 2rem;
    }
  }
  @media screen and (max-width: 650px) {
    #drinks-menu {
      display: none;
    }
  }
</style>
