---
import "../styles/global.css";
import Intro from "../components/Intro.jsx";
import Navbar from "../components/Navbar.astro";
import MobileNavbar from "../components/MobileNavbar.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="" type="" href="" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Babar Restaurant</title>
  </head>
  <body>
    <Intro />

    <Navbar />
    <MobileNavbar />
  </body>
</html>
