---
import CustomScrollbar from "../components/CustomScrollbar.astro";
import Footer from "../components/Footer.astro";
import MobileNavbar from "../components/MobileNavbar.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="" type="" href="" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Menu</title>
    <script defer src="/_vercel/insights/script.js"></script>
  </head>
  <body>
    <Navbar />
    <MobileNavbar />
    <div id="menu">
      <img
        src="/Babar-Menu-Salle-a-manger_Fr_V9_Verso_Large.png"
        alt="Food menu"
      />
      <img src="/Babar-Menu-Midi-Fr_V3_Verso_Large.png" alt="Lunch menu" />
    </div>
    <!-- <div id="menu-mobile">
      <img src="/Menu_food_mobile1.jpg" alt="Food menu mobile 1" />
      <img src="/Menu_food_mobile2.jpg" alt="Food menu mobile 2" />
      <img src="/Babar-Menu-Midi_2023_Verso_Large.jpg" alt="Lunch menu" />
    </div> -->
    <Footer />
    <CustomScrollbar />
  </body>
</html>

<style>
  * {
    font-family: "Alatsi", sans-serif;
  }
  div {
    margin: auto;
  }
  #menu {
    max-width: 75%;
  }
  #menu img {
    width: 100%;
  }
  #menu-mobile {
    max-width: 90%;
  }
  #menu-mobile img {
    width: 100%;
  }

  /* @media screen and (min-width: 651px) {
    #menu-mobile {
      display: none;
    }
  } */
  @media screen and (max-width: 500px) {
    body {
      margin-top: 2rem;
    }
  }
  @media screen and (max-width: 650px) {
    #menu {
      /* display: none; */
      max-width: 90%;
    }
  }
</style>
