---
import CustomScrollbar from "../components/CustomScrollbar.astro";
import Footer from "../components/Footer.astro";
import MobileNavbar from "../components/MobileNavbar.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
import MenuItem from "../components/MenuItem.astro";
import MenuContent from "../js/MenuContent";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="" type="" href="" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Menu</title>
  </head>
  <body>
    <Navbar />
    <MobileNavbar />
    <div id="main-container">
      <div id="menu-img-container">
        <img src="/foodPics/tomato_portrait.jpg" />
      </div>

      <div id="menu-container">
        {
          MenuContent.map((menuItem, index) => (
            <MenuItem
              id={index}
              title={menuItem.title}
              description={menuItem.description}
              price={menuItem.price}
            />
          ))
        }
      </div>
    </div>

    <Footer />
    <CustomScrollbar />
  </body>
  <script type="module" defer>
    import MenuContent from "../src/js/MenuContent.ts";

    const menuImgContainer = document.querySelector("#menu-img-container");

    let selectedMenuItem = null;
    let menuContentItem = null;

    const menuItems = document.querySelectorAll(".menu-item");
    menuItems.forEach((item) => {
      item.addEventListener("click", () => {
        // If a menu item is already selected and the user selects another
        if (selectedMenuItem && item !== selectedMenuItem) {
          selectedMenuItem.style.borderColor = "transparent";
          selectedMenuItem.style.backgroundColor = null;
        }

        // If the user selects a menu item that isn't already selected
        if (selectedMenuItem !== item) {
          selectedMenuItem = item;
          menuContentItem = MenuContent.find(
            (food) =>
              food.title ===
              item.firstElementChild.firstElementChild.textContent
          );

          item.style.borderColor = "black";
          selectedMenuItem.style.backgroundColor = "#F0BD3F";
          menuImgContainer.style.display = "block";
        }
        // If the user selects a menu item that is already selected
        else {
          selectedMenuItem = null;
          menuContentItem = null;
          item.style.borderColor = "transparent";
          item.style.backgroundColor = null;
          menuImgContainer.style.display = "none";
        }
      });
    });
  </script>
</html>

<style>
  #main-container {
    display: flex;
    height: calc(100vh - 200px);
  }
  #menu-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: calc(100vh - 200px);
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 5px;
    max-width: 500px;
    box-shadow: inset 0 0 10px #0000004f;
    transition: all 0.3s ease-in-out;
  }

  #menu-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    overflow: hidden;
    margin: 1rem auto;
    height: calc(100vh - 200px);
    display: none;
  }
  #menu-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media screen and (max-width: 500px) {
    #menu-container {
      height: calc(100vh - 150px);
      max-width: 90%;
    }
  }
  @media screen and (min-width: 501px) {
    #menu-container {
    }
  }
</style>
