---
import MobileNavbar from "../components/MobileNavbar.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="" type="" href="" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Réservation</title>
  </head>
  <body>
    <Navbar />
    <MobileNavbar />
    <div>Bientôt disponible...</div>
  </body>
</html>

<style>
  * {
    font-family: "Alatsi", sans-serif;
  }
  div {
    margin: auto;
  }
</style>
