---
import CustomScrollbar from "../components/CustomScrollbar.astro";
import Footer from "../components/Footer.astro";
import MobileNavbar from "../components/MobileNavbar.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="" type="" href="" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Pour emporter</title>
    <script defer src="/_vercel/insights/script.js"></script>
  </head>
  <body>
    <Navbar />
    <MobileNavbar />

    <div id="takeout-menu">
      <div id="takeout-info">
        <h3>
          Commandes par téléphone (450-726-0726) - Mardi au Samedi de 11h00 à
          14h30
        </h3>
        <p>
          * Les commandes passées avant 14h30 peuvent être récupérées au plus
          tard à 17h00!
        </p>
      </div>
      <img src="/Babar_Menu-Takeout_Verso_Large.jpg" alt="Menu takeout" />
    </div>

    <Footer />
    <CustomScrollbar />
  </body>
</html>

<style>
  * {
    font-family: "Alatsi", sans-serif;
  }
  #takeout-info {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #takeout-menu {
    margin: auto;
    width: 75%;
  }
  #takeout-menu img {
    width: 100%;
  }
  @media screen and (max-width: 500px) {
    #takeout-menu {
      width: 90%;
    }
    #takeout-menu img {
      width: 100%;
    }
    body {
      margin-top: 2rem;
    }
  }
</style>
