---
import CustomScrollbar from "../components/CustomScrollbar.astro";
import Footer from "../components/Footer.astro";
import MobileNavbar from "../components/MobileNavbar.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="" type="" href="" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Pour emporter</title>
    <script defer src="/_vercel/insights/script.js"></script>
  </head>
  <body>
    <Navbar />
    <MobileNavbar />

    <div id="takeout-menu">
      <img src="/Babar_Menu-Takeout_Verso_Large.jpg" alt="Menu takeout" />
    </div>

    <Footer />
    <CustomScrollbar />
  </body>
</html>

<style>
  * {
    font-family: "Alatsi", sans-serif;
  }
  div {
    margin: auto;
  }
  #takeout-menu {
    width: 75%;
  }
  #takeout-menu img {
    width: 100%;
  }
  @media screen and (max-width: 500px) {
    #takeout-menu {
      width: 90%;
    }
    #takeout-menu img {
      width: 100%;
    }
    body {
      margin-top: 2rem;
    }
  }
</style>
