---
import CustomScrollbar from "../components/CustomScrollbar.astro";
import Footer from "../components/Footer.astro";
import MobileNavbar from "../components/MobileNavbar.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="" type="" href="" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Pour emporter</title>
    <script defer src="/_vercel/insights/script.js"></script>
  </head>
  <body>
    <Navbar />
    <MobileNavbar />

    <div id="takeout-menu">
      <div id="takeout-info">
        <h3>
          Commandes par téléphone <a href="tel:450-726-0726">(450-726-0726)</a>
        </h3>
        <h4>Mardi au jeudi de 11h30 à 21h30</h4>
        <h4>Vendredi et samedi de 11h30 à 17h00</h4>
      </div>
      <img src="/Babar_Menu-Takeout_Verso_Large.jpg" alt="Menu takeout" />
    </div>
  </body>

  <Footer />
  <CustomScrollbar />
</html>

<style>
  * {
    font-family: "Alatsi", sans-serif;
  }
  #takeout-info {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #takeout-info h4 {
    margin: 0;
  }
  #takeout-info a {
    text-decoration: none;
    color: inherit;
  }
  #takeout-menu {
    margin: auto;
    width: 75%;
  }
  #takeout-menu img {
    width: 100%;
    margin-top: 1rem;
  }
  @media screen and (max-width: 500px) {
    #takeout-menu {
      width: 90%;
    }
    #takeout-menu img {
      width: 100%;
    }
    body {
      margin-top: 2rem;
    }
  }
</style>
