<span id="custom-scrollbar">
  <span id="scrollbar-thumb"></span>
  <script defer>
    let scrollbar = document.getElementById("custom-scrollbar");
    let thumb = document.getElementById("scrollbar-thumb");

    thumb.addEventListener("mousedown", (e) => {
      e.preventDefault();
      scrollbar.classList.add("grabbed");

      let thumbRect = thumb.getBoundingClientRect();
      let initialCursorY = e.clientY;

      window.onmousemove = (e) => {
        if (thumbRect.top + e.clientY - initialCursorY < 0) {
          // If thumb is at the top
          thumb.style.top = "0px";
        } else if (
          thumbRect.bottom + e.clientY - initialCursorY >
          window.innerHeight
        ) {
          // If thumb is at the bottom
          thumb.style.bottom = "0px";
        } else {
          thumb.style.top = thumbRect.top + e.clientY - initialCursorY + "px";

          let maxThumbScroll = window.innerHeight - thumbRect.height;
          let maxPageScroll = document.body.clientHeight - thumbRect.height;
          let currentThumb = document.getElementById("scrollbar-thumb");
          let currentThumbRect = currentThumb.getBoundingClientRect();

          let scrollOptions = {
            behavior: "auto",
            top: (currentThumbRect.top / maxThumbScroll) * maxPageScroll,
            left: 0,
          };
          window.scrollTo(scrollOptions);
        }
      };
    });

    addEventListener("mouseup", (e) => {
      scrollbar.classList.remove("grabbed");
      window.onmousemove = null;
    });

    addEventListener("scroll", () => {
      let thumbRect = thumb.getBoundingClientRect();
      let maxThumbScroll = window.innerHeight - thumbRect.height;
      let maxPageScroll = document.body.clientHeight - thumbRect.height;

      thumb.style.top =
        (window.scrollY / maxPageScroll) * maxThumbScroll + "px";
    });
  </script>
</span>

<style>
  #custom-scrollbar {
    position: fixed;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: 3;
  }

  #custom-scrollbar.grabbed {
    opacity: 1;
  }
  #custom-scrollbar.grabbed #scrollbar-thumb {
    width: 11px;
  }

  #custom-scrollbar:hover {
    opacity: 1;
  }

  #scrollbar-thumb {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
    height: 142px;
    z-index: 4;
    transition: width 0.3s ease;
  }

  #scrollbar-thumb:hover {
    width: 11px;
  }

  @media screen and (max-width: 1000px) {
    #custom-scrollbar {
      display: none;
    }
  }
</style>
