---
import "@fontsource/alatsi";
import logo from "../../public/Babar_03.svg";
---

<>
  <div id="spacer"></div>
  <footer>
    <div id="logo">
      <img src={logo.src} alt="Footer logo" />
    </div>
    <div id="socials">
      <a href="https://www.instagram.com/babar.restaurant/" target="_blank"
        >Instagram</a
      >
      <a
        href="https://www.facebook.com/profile.php?id=100087949488816"
        target="_blank">Facebook</a
      >
      <a href="/Contact">Contact</a>
      <!-- <a href="https://github.com/philippemalo" target="_blank">Crédits</a> -->
    </div>
  </footer>
</>

<style>
  footer {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    padding-bottom: 2rem;
    margin-top: 3rem;

    font-family: "Alatsi", sans-serif;

    background-color: rgb(26, 26, 26);
  }
  #logo {
    width: 400px;
  }
  #logo img {
    width: 100%;
  }
  #socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 1vw;
  }
  a {
    display: flex;
    padding: 1rem;
  }
  @media screen and (max-width: 500px) {
    footer {
      padding-bottom: 150px;
    }
    #logo {
      max-width: 75%;
    }
  }
  a {
    text-decoration: none;
    color: white;
  }
  #spacer {
    margin: auto;
  }
</style>
